body {
  color: #101010;
  background-color: #efefef;
  height: 100%;
  font-size: 2em;
  font-family: sans-serif;
}

input {
  font-size: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: center;
  padding: 5px;

  font-size: 0.3em;
  background-color: #101010;
  color: #efefef;
}

#config {
  visibility: hidden;
}

.circle-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.circle-loader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: circle-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.circle-loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes circle-loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#loader {
  visibility: visible;
  position: absolute;
  width: 72px;
  height: 72px;
  /* border: 2px solid #101010; */
  /* background-color: #fff; */
  top: 50%;
  left: 50%;
  margin-left: -36px;
  margin-top: -36px;
}

.button {
  border: none;
  background-color: #101010;
  color: #efefef;
  font-size: 1em;
  text-decoration: underline;
  padding: 0.1em 0.2em 0.2em 0.2em;
  cursor: pointer;
}

#feedback {
  font-style: italic;
  font-size: 1em;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 0px;
  height: 0px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #efefef;
  border: 2px solid #101010;
}

.container:hover input ~ .checkmark {
  background-color: #101010;
}
.container input:checked ~ .checkmark {
  background-color: #101010;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #efefef;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
